<template name="home">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">AbiMottoFindungsApplikation</h1>
            <div class="row center">
                <h5 class="header col s12 light">Interaktives Abstimmungstool für Abimottos</h5>
            </div>
            <div class="row center">
              {{#unless currentUser}}
                <a href="/login" class="btn-large waves-effect waves-light orange">Einloggen</a>
              {{else}}
                <a href="/mottos/" class="btn-large waves-effect waves-light orange">Übersicht der Mottos</a>
              {{/unless}}
            </div>
            <br><br>

        </div>
    </div>

</template>
