@import 'variables';


/* -------------------
    Helper styles
   ------------------- */

.hidden {
    display: none;
}

.padding-wrapper {
    padding: 20px;
}

.aligned {
    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.link {
    &.unstyled {
        color: inherit;
    }

    &.no-underline {
        text-decoration: none;
    }

    &.no-hover-styles:hover {
        color: inherit;
    }
}
