@import 'variables';

#main {
    .boilerplate-feature.icon {
        margin-top: 10px;
        transition: 0.7s color;

        &:hover {
            color: $primaryIconColor;
        }

        &.hover-orange.html5:hover {
            color: $html5Orange;
        }
    }

    .features.grid {
        width: 100%;
        margin: 0%;
        margin-top: 30px;
    }

    .main-content > .ui.two.column.grid {
        padding-top: 20px;
    }

    .column > .icon-wrapper {
        font-size: 2em;
        color: $primaryIconColor;
    }

    @media (max-width: $largeDesktopWidth) {
        .column > .icon-wrapper {
            font-size: 1.5em;
        }
    }

    @media (max-width: $mediumDesktopWidth) {
        .column > .icon-wrapper {
            font-size: 1em;
        }
    }

    @media (max-width: $tabletWidth) {
        .features.grid .headline {
            display: none;
        }
    }
}
