// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
//$primary-color: color("blue", "lighten-2");

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";
// General styles, e. g. for the body tag

@import 'helpers';
@import 'variables';


/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: $primaryFontColor;
    font-family: 'Fauna One', serif;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.collection .collection-item.avatar p {
    font-size: 12px;
}

