// Declare variables for use in all the template specific / main less files

$primaryLinkHoverColor: #682d71;
$secondaryLinkHoverColor: #bd6ddb;
$primaryFontColor: #1f1f1f;
$secondaryFontColor: #f6eff4;
$secondaryFontColorVariation: #DDDDDD;
$primaryIconColor: #1b3fc3;

$html5Orange: #F06529;

// Width variables
$largeDesktopWidth: 1280px;
$mediumDesktopWidth: 992px;
$tabletWidth: 768px;
$phoneWidth: 480px;

$loginFormWidth: 500px;