<template name="header">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a class="brand-logo" href="/" id="logo-container">
        {{constant 'name'}}
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/mottos/">Übersicht</a>
        </li>
        <li>
          <a href="/stats/">Statistiken</a>
        </li>
        <li>{{> atNavButton}}</li>
      </ul>
      <ul class="side-nav" id="nav-mobile">
        <li>
          <a href="/mottos/">Übersicht</a>
        </li>
        <li>
          <a href="/stats/">Statistiken</a>
        </li>
        <li>
          {{#unless currentUser}}
            <a href="/login/">Login</a>
            {{else}}
            <a class="log-out-button" href="#">Logout</a>
          {{/unless}}
        </li>
      </ul>
      <a class="button-collapse" data-activates="nav-mobile" href="#">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>

</template>
