<template name="mottos">
  <h1 class="header orange-text">Übersicht aller
    {{mottosAnzahl}}
    Vorschläge
  </h1>
  {{#if currentUser}}
    {{> addMotoBtn}}
  {{/if}}
  {{> searchBox}}
  {{> searchResult}}
</template>

<template name="searchBox">
  <input id="search-box" placeholder="Suche nach einem Motto" type="text"/>
</template>

<template name="mottol">
  <div class="collection-item">
    <a href="/mottos/{{_id}}">{{spruch}}</a>
    {{#if canDelete}}
      {{#quickRemoveButton collection="Mottos" _id=this._id class="secondary-content"}}
        <i class="material-icons">delete</i>
      {{/quickRemoveButton}}
    {{/if}}
  </div>
</template>
<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      {{/if}}
    </div>
    <div class="collection">
      {{#each getMottos}}
        {{> mottol}}
        {{else}}
        <div class="collection-item">
          <h4>Nichts gefunden!</h4>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="addMotoBtn">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large light-blue lighten-1" href="/mottos/add" id="addMottoBtn">
      <i class="large material-icons">add</i>
    </a>
  </div>
</template>

<template name="voteBtn">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="btn-floating btn-large light-green lighten-1" disabled={{disabled}} id="voteBtn">
      <i class="large material-icons">thumb_up</i>
    </button>
    <button class="btn-floating btn-large red lighten-1" disabled={{notdisabled}} id="devoteBtn">
      <i class="large material-icons">thumb_down</i>
    </button>
  </div>
</template>

<template name="addMotto">
  <h1 class="header orange-text">Abimotto vorschlagen</h1>
  {{> quickForm collection="Mottos" id="insertMottoForm" type="insert" buttonContent="Vorschlagen" omitFields="author,aid"}}
</template>

<template name="motto">
  {{console.log this}}
  {{#if currentUser}}
    {{> voteBtn}}
  {{/if}}
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>{{spruch}}</h4>
    </li>
    <li class="collection-item avatar">
      <span class="title">{{author}}</span>

      <p>Urheber</p>
    </li>
    <li class="collection-item avatar">
      <span class="title">
        {{#if jux_kompatibel}}
          Ja
          {{else}}
          Nein
        {{/if}}
      </span>

      <p>Abi-Jux-Tag-Kompatibilität</p>
    </li>
    <li class="collection-item avatar">
      <span class="title">
        {{#if abiball_kompatibel}}
          Ja
          {{else}}
          Nein
        {{/if}}
      </span>

      <p>Abiball-Thema-Kompatibilität</p>
    </li>
    <li class="collection-item avatar">
      <span class="title">{{votesCount}}</span>

      <p>Erhaltene Stimmen</p>
    </li>
    <li class="collection-item avatar">
      <span class="title">{{rank}}</span>

      <p>Platzierung</p>
    </li>
  </ul>
</template>
