<template name="footer">
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Top 5</h5>
          <ul>
            {{#each top5}}
            <li class="white-text">{{index @index}}. <a class="white-text" href="/mottos/{{_id}}">{{#with findMotto _id}} {{spruch}} {{/with}} ({{stimme total}})</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Umgesetzt mit <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

</template>
