<head>
    <title>...loading</title>
    <link href='https://fonts.googleapis.com/css?family=Glegoo|Fauna+One' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#009fbb">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="AbiMotto-Findungs-Applikation">
    <meta property="og:site_name" content="AMFA">
    <meta property="og:url" content="http://amfa.meteor.com">
    <meta property="og:description"
          content="Die Abimottofindungsapplikation soll den Findungs- und Abstimmungsprozess zu einem Abimotto erleichtern. Zu diesem Zwecke können Mottos vorgeschlagen und abschließend über diese abgestimmt werden">
    <meta property="fb:app_id" content="988759217858517">
    <meta property="og:type" content="website">
    <meta charset="utf-8">
    <meta name="description" content="Abimottofindungsapplikation, zum Finden eines Abimottos.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9.1/highcharts.js"></script>
</head>
